/* Contenedor principal de la portada */
.hero {
  /* El degradadpo oscurece la parte izquierda para que el texto resalte */
  background-size: cover;
  background-position: center;
  height: 85vh; /* Ocupa el 100% del alto de la pantalla visible */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  padding: 0 60px;
  position: relative; /* Para que el contenido quede por encima del fondo */
  transition: background-image 1s ease-in-out; /* Transición suave para el cambio de fondo */
}

/* caja que envuelve los textos y el botón */
.hero-content {
  max-width: 700px; /* eevita que el texto se estire hasta el otro lado de la pantalla */
  margin-top: 60px; /* Da un poco de espacio para que el Navbar no tape nada */
}

/* Título principal */
.hero h1 {
  color: #FFFFFF;
  font-size: 55px; /* Tamaño masivo como en la referencia */
  font-weight: 800;
  line-height: 1.1; /* Pega un poco más las líneas de texto entre sí */
  margin-bottom: 40px;
}

/* La clase para pintar palabras de amarillo neón */
.text-yellow {
  color: #D4FF00;
}

/* Botón con borde amarillo */
.btn-outline-yellow {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #D4FF00;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px; /* Bordes ovalados tipo pastilla */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px; /* Espacio entre el texto y la flechita */
  transition: all 0.3s ease; /* Hace que el cambio de color sea suave */
}

/* Efecto al pasar el mouse por encima del botón */
.btn-outline-yellow:hover {
  background-color: #D4FF00;
  color: #000000; /* Letras negras para contrastar con el fondo amarillo */
}

/* Flechita del botón */
.arrow-right {
  color: #D4FF00;
  font-size: 12px;
  transition: all 0.3s ease;
}

/* Que la flecha también se vuelva negra al pasar el mouse */
.btn-outline-yellow:hover .arrow-right {
  color: #000000;
}


/*------ CAROUSEL -------------------------------------------------------------- */
.carousel-indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%); /* Los centra exactamente en el medio */
  display: flex;
  gap: 15px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* El punto de la foto que se está viendo se pinta de amarillo */
.dot.active {
  background-color: #D4FF00;
  border-color: #D4FF00;
  transform: scale(1.3); /* Lo hace un poquito más grande para resaltar */
}

/*------------------------------------------------------------------------------ */


 /* Pantallas de celular y tablets, (hasta 768px de ancho)*/
  @media (max-width: 768px) {

    /* hacemos el contenedor principal un poco más ajustad */
    .hero {
      padding: 0 20px;
      background-position: left;  /*<-- ajusta la foto para que se vea vertical */
    }

    /* Achicamos la letra del título gigante */
    .hero h1 {
      font-size: 35px;  /* En lugar de los 55px que tenías para PC */
      margin-bottom: 25px;
    }

    /* Hacemos el botón un poco más pequeño */
     .btn-outline-yellow {
      padding: 10px 25px;
      font-size: 14px;
     }
  }